[submodule "NINA/External"]
	path = NINA/External
	url = https://bitbucket.org/Isbeorn/nina.external.git
	branch = develop
[submodule "NINA.Docs"]
	path = NINA.Docs
	url = https://Isbeorn@bitbucket.org/Isbeorn/nina.docs.git
