[submodule "NINA/External"]
	path = NINA/External
	url = https://github.com/nitr57/pins.external.git
	branch = main
[submodule "Touch-N-Stars"]
	path = Touch-N-Stars
	url = https://github.com/Touch-N-Stars/Touch-N-Stars.git
	branch = pins
[submodule "NINA.Plugins/ninaAPI"]
	path = NINA.Plugins/ninaAPI
	url = https://github.com/nitr57/ninaAPI.git
	branch = dev
[submodule "NINA.Plugins/Touch-N-Stars"]
	path = NINA.Plugins/Touch-N-Stars
	url = https://github.com/nitr57/N.I.N.A-Plugin-for-Touch-N-Stars.git
	branch = main
[submodule "NINA.Plugins/LiveStack"]
	path = NINA.Plugins/LiveStack
	url = https://github.com/nitr57/nina.plugin.livestack
	branch = main
[submodule "NINA.Plugins/PolarAlignment"]
	path = NINA.Plugins/PolarAlignment
	url = https://github.com/nitr57/nina.plugin.polaralignment.git
	branch = master
[submodule "NINA.Plugins/joko.nina.plugins"]
	path = NINA.Plugins/joko.nina.plugins
	url = https://github.com/nitr57/joko.nina.plugins.git
	branch = develop
