name: Build and Test

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master
      - develop

jobs:
  build:
    name: Build and Test on Windows
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        lfs: 'true'
        submodules: recursive

    - name: Checking
      run: echo 'hello stefan!'
      
    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore NuGet packages
      run: dotnet restore NINA.sln

    - name: Build main project
      run: dotnet build NINA/NINA.csproj --configuration Debug --no-restore

    - name: Build test project
      run: dotnet build NINA.Test/NINA.Test.csproj --configuration Debug --no-restore

    - name: Run unit tests
      run: dotnet test NINA.Test/NINA.Test.csproj --configuration Debug --no-build -p:PlatformTarget=x64 --logger "trx;LogFileName=test-results.trx" --results-directory ./TestResults

    - name: Publish NUnit test results
      uses: dorny/test-reporter@v2
      if: ${{ !cancelled() }}
      with:
        name: NUnit Tests
        path: TestResults/test-results.trx
        reporter: dotnet-trx
